<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>::Map:::Map::</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }

      #panel {
        position: absolute;
        bottom: 5px;
        left: 53%;
        margin-left: -80px;
        z-index: 5;
        background-color: #fff;
        opacity: 0.9;
        padding: 5px;        
        cursor: pointer; 
      }

     #logo {
        position: absolute;
        top: 0px;
        left: 53.5%;
        margin-left: -75px;
        z-index: 5;
        opacity: 0.2;
        padding: 5px;               
      }

     #lateral {
        position: absolute;
        top: 40px;
        width: 210px;
        height: 250px;
        right: 5px;
        z-index: 5;
        background-color: #fff;
        opacity: 0.9;
        padding: 10px;        
      }

      .title{
        color : #494949;
      }

    </style>
    <script src="{% static 'js/sweetalert-dev.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>!-->
    <script src="http://maps.googleapis.com/maps/api/js"> </script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script>
      var directionsDisplay;
      var directionsService = new google.maps.DirectionsService();
      var map;
      var position_actual,position_final; 
      var markers=[];
      function initialize() {
        directionsDisplay  = new google.maps.DirectionsRenderer();
        var mapOptions = {
            zoom: 18,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            {% if admin %}
            disableDoubleClickZoom: true,
            {% endif %}
            center: new google.maps.LatLng(-2.14700, -79.96476)
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
       {% if admin %}
         google.maps.event.addListener(map, 'dblclick', function(e) {
            placeMarker(e.latLng, map);
            });
       {% endif %}
       {% if not admin %}

        google.maps.event.addListener(map, 'click', function(e) {
       var marker = new google.maps.Marker({
          position:   new google.maps.LatLng(e.latLng.D,e.latLng.k),
          map: map
          }
        );
       
         position_final= marker; 
       });
        {% endif %}
        {% if not admin %}
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = new google.maps.LatLng(position.coords.latitude,
              position.coords.longitude);

            var infowindow = new google.maps.InfoWindow({
              map: map,
              position: pos,
              content: 'Tu est&aacutes aqu&iacute'
            });

            map.setCenter(pos);
            position_actual= pos; 
            }, function() {
               swal("Éxito", "¡Encontramos tu ubicación!", "success"); 

            });
        } else {
          // Browser doesn't support Geolocation
               swal("):", "No podimos encontrar tu ubcicación ", "success"); 
        }
        directionsDisplay.setMap(map);
        {% endif %}
        $.ajax(
            {
              type:"GET",
              url:"/positions",
              async: true,
              dataType:"Json",
              contenType:"application/Json; charset=utf-8",
              success: function(data){
                $(data.responseData.results).each( function () {
                  var marker = new google.maps.Marker({
                          position:   new google.maps.LatLng(this.lat,this.lng),
                          map: map,
                          title : this.streetAddress + '<br/>' + this.titleNoFormatting +'<br/>Lat: '+this.lat+' Long:'+this.lng
                       }
                    );  
                  markers.push(marker);
                  attachSecretMessage(marker);                  
                  });
              },
            });
        $('#cbo_type_filter').on('change',
            function(){
                var filter=$("#cbo_type_filter option:selected").text();
                AddPoints(map,filter);
            }
            );

      }

      {% if not admin %}
        //SCRIPTS FOR USERS NOT LOGIN
      {% endif %}
      var filterPoints = function(){
                var filter=$("#cbo_type_filter option:selected").text();
                AddPoints(map,filter);
            }

      function EqualsMarker(marker, marker_){

        if(marker.position.D== marker_.position.D  && marker.position.k == marker_.position.k){
           return true;
        } 
        return false;
      }

      function AddPoints(map,filter){
        $.ajax(
            {
              type:"GET",
              url:"/positions",
              async: true,
              dataType:"Json",
              contenType:"application/Json; charset=utf-8",
              success: function(data){
                $(data.responseData.results).each( function () {
                  var found = false;
                  
                  if(filter=="Todos"){
                      var marker = new google.maps.Marker({
                            position:   new google.maps.LatLng(this.lat,this.lng),
                            title : this.streetAddress + '<br/>' + this.titleNoFormatting +'<br/>Lat: '+this.lat+' Long:'+this.lng
                         }
                      ); 
                      for (var i = 0; i < markers.length; i++) {
                        markers[i].setMap(map);
                      }       
                  }else{
                    if(filter== this.titleNoFormatting){
                        var marker = new google.maps.Marker({
                            position:   new google.maps.LatLng(this.lat,this.lng),
                           title : this.streetAddress + '<br/>' + this.titleNoFormatting +'<br/>Lat: '+this.lat+' Long:'+this.lng
                         }
                      );  
                      for (var i = 0; i < markers.length; i++) {
                         if(EqualsMarker(markers[i],marker))
                           markers[i].setMap(map);
                         
                        } 
                      }else{
                         var marker = new google.maps.Marker({
                            position:   new google.maps.LatLng(this.lat,this.lng),
                            title : this.streetAddress + '<br/>' + this.titleNoFormatting +'<br/>Lat: '+this.lat+' Long:'+this.lng
                         }
                        );
                      for (var i = 0; i < markers.length; i++) {
                         if(EqualsMarker(markers[i],marker))
                           markers[i].setMap(null);
                         
                        } 
                      }
                  }                  
                 
                });
              }
            } 
            );
      }
      function clearMarkers() {
        setAllMap(null);
      }
      function setAllMap(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }
      {% if admin %}
      function placeMarker(position, map) {
        map.panTo(position);
        swal({ 
          title: "¡Escogiste un punto!",
          text: "Escoge estas coordenadas para asignarlas un tipo de lugar.",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#A5DC86",
          confirmButtonText: "Guardar el punto",
          closeOnConfirm: true,
          cancelButtonText: "Cancelar"
          },
           function(){
        
             $('input[name="lat"]').val(position.D);
             $('input[name="long"]').val(position.k);
             $('input[name="name"]').val('');
             $('#modal').modal('show');
             $('#modal').on('hide.bs.modal',function(){
               if( $('input[name="name"]').val().length >2){
                  var marker = new google.maps.Marker({
                      position: position,
                      map: map,
                      title : $('input[name="name"]').val() + '<br/>' + $('#cbo_type option:selected').text() +'<br/>Lat: '+$('input[name="lat"]').val() +' Long:'+$('input[name="long"]').val()
                  });
                  markers.push(marker);
                  attachSecretMessage(marker);
                  filterPoints();
               }
       
             });
                      
          });       
      }
      {% else %}
      function calcRoute() {
        if (position_actual == null || position_final == null) {
          swal("oops!","Debes escoger un punto a donde ir o no se ha podido encontrar tu ubicación ", "error");
          return 
        }
        var mode = $('#mode option:selected').val();

        var request = {
           origin:position_actual,
           destination:position_final,
           travelMode: google.maps.TravelMode[mode]
        };
        directionsService.route(request, function(response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
            }
            });
      }
      {% endif %}
      function attachSecretMessage(marker) {
        var infowindow = new google.maps.InfoWindow({
                  content: marker.title
        });

        google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(marker.get('map'), marker);
                position_final=marker.position;
                            
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);

      $(document).ready(function(saved){
        $.ajax(
          {
            type:"GET",
            url:"places/",
            async: true,
            dataType:"Json",
            contenType:"application/Json; charset=utf-8",
            success: function(data){
              var $subType = $("#cbo_type");
              var $subTypeFilter = $("#cbo_type_filter");
              $subType.empty();
              $(data.responseData.results).each( function () {
                $subType.append($('<option></option>').attr("value", this.id).text(this.name));
                $subTypeFilter.append($('<option></option>').attr("value", this.id).text(this.name));
               });
            },
          });
        {% if admin %}
        $("#modal").modal({}).draggable();
        $("#modal").modal('hide');
        $("#save").click(function(){
          posting= $.post("/positions",{
            name: $('input[name="name"]').val(),
            lon: $('input[name="lat"]').val(),
            lat: $('input[name="long"]').val(),
            place: $('#cbo_type option:selected').val(),
            csrfmiddlewaretoken : $('input[name="csrfmiddlewaretoken"]').val()
          });
          posting.done(function(){
            swal("¡Buen Trabajo!", "Posicion Guardada", "success");
            $("#modal").modal('hide');
          });
          posting.fail(function(){
            swal("):", "¡Algo sucedió! Revisa los datos ", "error");
            
          });
        });
        $('#panel').click(function(){
            swal({
              title: "¿Deseas cerrar sesión?",
              text: "Para seguir agregando posiciones o viendo el mapa deberás iniciar sesión de nuevo.",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "Sí",
              closeOnConfirm: false ,
              cancelButtonText: "Cancelar"
              },
              function(){
                swal("Sesión Cerrada", "¡Será un hasta la próxima!", "success"); 
                setTimeout(function(){$(location).attr('href','/logout')},1200);
              });
        });
        {% else %}
        swal("Muestra el camino", "Escoge un punto, da click en muestrame el camino y te mostrará un viable. No olvides permitir que el navegador envie tu posición.","info");
        $('#panel').click(function(){
              calcRoute(); 
            });
        {% endif %}
      });


    </script>
  </head>
  <body>
    <div id="logo">
      <img src="{% static 'img/logo.png' %}" height="70">
    </div>
    <div id="panel">
    {% if admin %}
      <span class="fa fa-power-off"></span>     
      Cerrar Sesi&oacuten
    {% else %}
      <i class="fa fa-map-marker"></i>
      Mu&eacutestrame el camino 
    {% endif %}
    </div>
    <div id="lateral">
      <div style="">
        <div class="title">
        <b>Filtrar por tipo:</b>
        </div>
        <div class="form">
          <select name="tipo_filtro" id="cbo_type_filter">
            <option value="0">Todos</option>
          </select>
        </div>
        {% if not admin %}
        <br>        
        <b>Modo de transporte: </b>
        <select id="mode">
          <option value="DRIVING">Conduciendo</option>
          <option value="WALKING">Caminando</option>
          <option value="BICYCLING">Bicicleta</option>
          <option value="TRANSIT">Transitando</option>
        </select>
        {% endif %}
      </div>
    </div>
    {% if admin %}
    <div class="modal fade" id="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Guardar Posici&oacuten</h4>
          </div>
          <div class="modal-body-center">
            <div style="margin-left:200px;margin-right:30px;">
              {% csrf_token %}  
              <input type="text" name="name" placeholder="Titulo"><br/>
              <input type="text" name="long" placeholder="long" readonly><br/>
              <input type="text" name="lat" placeholder="lat" readonly><br/>
              <select name="tipo" id="cbo_type"></select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" id="save" class="btn btn-primary">Guardar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endif %}
    <div id="map-canvas" z-index="9999"></div>
  </body>
</html>
