<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
{% load staticfiles %}
<html  xml:lang="es">
<head>
<title>Obtener coordenadas de google maps</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Pragma" content="no-cache" />
<meta name="Description" content="obtener coordenadas de google maps de un punto, buscas la dirección y pinchas sobre el mapa para obtener o conseguir las coordenadas"  />

<link href="{% static '/css/styles.css' %}" rel="stylesheet" media="screen">
<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">

<script src="{% static 'js/bootstrap.min.js' %}"></script>
        <style>
            html, body, #map-canvas {
                height: 100%;
                margin: 0px;
                padding: 0px
            }
        </style>

<style type="text/css">
	label{
		width: 70px;float:left;
		padding-top: 3px;
	}
</style>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript">
	//Declaramos las variables que vamos a user
	var lat = null;
	var lng = null;
	var map = null;
	var geocoder = null;
	var marker = null;
	         
	jQuery(document).ready(function(){
	     //obtenemos los valores en caso de tenerlos en un formulario ya guardado en la base de datos
		verayuda();
	     lat = jQuery('#lat').val();
	     lng = jQuery('#long').val();
	     //Asignamos al evento click del boton la funcion codeAddress
	     jQuery('#pasar').click(function(){
	        codeAddress();
	        return false;
	     });
	     //Inicializamos la función de google maps una vez el DOM este cargado
	    initialize();
	});
	     
	    function initialize() {
	     
	      geocoder = new google.maps.Geocoder();
	        
	       //Si hay valores creamos un objeto Latlng
	       if(lat !='' && lng != '')
	      {
	         var latLng = new google.maps.LatLng(lat,lng);
	      }
	      else
	      {
	         var latLng = new google.maps.LatLng(37.6735925,-1.6968357);
	      }
	      //Definimos algunas opciones del mapa a crear
	       var myOptions = {
	          center: latLng,//centro del mapa
	          zoom: 15,//zoom del mapa
	          mapTypeId: google.maps.MapTypeId.ROADMAP //tipo de mapa, carretera, híbrido,etc
	        };
	        //creamos el mapa con las opciones anteriores y le pasamos el elemento div
	        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	         
	        //creamos el marcador en el mapa
	        marker = new google.maps.Marker({
	            map: map,//el mapa creado en el paso anterior
	            position: latLng,//objeto con latitud y longitud
	            draggable: true //que el marcador se pueda arrastrar
	        });
	        
	       //función que actualiza los input del formulario con las nuevas latitudes
	       //Estos campos suelen ser hidden
	        updatePosition(latLng);
	         
	         
	    }
	     
	    //funcion que traduce la direccion en coordenadas
	    function codeAddress() {
	         
	        //obtengo la direccion del formulario
	        var address = document.getElementById("direccion").value;
	        //hago la llamada al geodecoder
	        geocoder.geocode( { 'address': address}, function(results, status) {
	         
	        //si el estado de la llamado es OK
	        if (status == google.maps.GeocoderStatus.OK) {
	            //centro el mapa en las coordenadas obtenidas
	            map.setCenter(results[0].geometry.location);
	            //coloco el marcador en dichas coordenadas
	            marker.setPosition(results[0].geometry.location);
	            //actualizo el formulario      
	            updatePosition(results[0].geometry.location);
	             
	            //Añado un listener para cuando el markador se termine de arrastrar
	            //actualize el formulario con las nuevas coordenadas
	            google.maps.event.addListener(marker, 'dragend', function(){
	                updatePosition(marker.getPosition());
	            });
	      } else {
	          //si no es OK devuelvo error
	          alert("No podemos encontrar la direcci&oacute;n, error: " + status);
	      }
	    });
	  }
	   
	  //funcion que simplemente actualiza los campos del formulario
	  function updatePosition(latLng)
	  {
	       
	       jQuery('#lat').val(latLng.lat());
	       jQuery('#long').val(latLng.lng());
	   
	  }
	
	  function verayuda()
	  {
	       alert('Indicaciones de Uso: \n 1.- Busca el Lugar en la barra de Direccion \n 2.- Presiona Obtener Coordenadas para empezar \n 3.- Ahora puedes arrastras el marcador al lugar indicado \n 4.- Ya puedes copiar las coordenadas obtenidas.');
	   
	  }
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1749329-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

            function initialize() {
                var mapOptions = {
                    center: new google.maps.LatLng(-.266667,-78.483333),
                    zoom: 13
                };
                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                
</script>

     </head>
     <body onLoad="load();"  onunload="GUnload();">


        <div class="canvas">
            <div id="trimestres">
                
	 
		     	<h1 style="color: #666;font-family: verdana;">OBTENER COORDENADAS DE UN PUNTO EN GOOGLE MAPS</h1>
			 	<form id="google" name="google" action="#">
		 
				<p><label>Direcci&oacute;n: </label>
				<input style="width:400px" type="text" id="direccion" name="direccion" value=""/>
				<button id="pasar" class="btn btn-primary">IR</button> 
				</p>
				
				 
				</form>
	 
            </div>

          
            <div id="zonas" class="form-group">


		<div>
      <img id="logo" width="80px" height="100px" style="float: centre;" src="{% static 'img/kokoa.png'%}" alt="kokologo"/>
		</div>	

		<!-- div donde se dibuja el mapa-->
		<!--campos ocultos donde guardamos los datos-->
    	<p class="help-block">Las coordenadas del punto son:</p>
		<p><label>Latitud: </label><input type="text" readonly name="lat" id="lat"/></p>
		<p><label> Longitud:</label> <input type="text" readonly name="lng" id="long"/></p>
		<button id="ayuda" class="btn btn-primary" onclick="verayuda();">Ayuda</button> 

            </div>

            <div id="map_canvas"></div>

        </div>


     
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
     </body>
     </html>
	 
	 
