<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>Accessing arguments in UI events</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="{% static 'js/sweetalert-dev.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

    <script>
      function initialize() {
        var mapOptions = {
            zoom: 17,

            center: new google.maps.LatLng(-2.14700, -79.96476)
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        google.maps.event.addListener(map, 'dblclick', function(e) {
            placeMarker(e.latLng, map);
            });
      }

      function placeMarker(position, map) {
        var marker = new google.maps.Marker({
          position: position,
          map: map
      });
        console.log(position);
        console.log(position.D);
        console.log(position.k);
        swal({   title: "¡Escogiste un punto!",   text: "Escoge estas coordenadas para asignarlas un tipo de lugar.",   type: "warning",   showCancelButton: true,   confirmButtonColor: "#A5DC86",   confirmButtonText: "Guardar el punto",   closeOnConfirm: true },
           function(){
               $('input[name="lat"]').val(position.D);
               $('input[name="long"]').val(position.k);

               $('#modal').modal('show');
            });       
        map.panTo(position);
      }

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div class="modal fade" id="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Guardar Posici&oacuten</h4>
          </div>
          <div class="modal-body-center">
            <div style="margin-left:200px;margin-right:30px;">
              {% csrf_token %}  
              <input type="text" name="name" placeholder="Titulo"><br/>
              <input type="text" name="long" placeholder="long" readonly><br/>
              <input type="text" name="lat" placeholder="lat" readonly><br/>
              <select name="tipo" id="cbo_type"></select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" id="save" class="btn btn-primary">Guardar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="map-canvas" z-index="9999"></div>
    <script>
       $(document).ready(function(){
              $.ajax(
                {
                  type:"GET",
                  url:"places/",
                  async: true,
                  dataType:"Json",
                  contenType:"application/Json; charset=utf-8",
                  success: function(data){
                    var $subType = $("#cbo_type");
                    $subType.empty();
                    $(data.responseData.results).each( function () {
                      $subType.append($('<option></option>').attr("value", this.id).text(this.name));
                     });
                  },
                });
              $("#save").click(function(){
                posting= $.post("/positions",{
                    name: $('input[name="name"]').val(),
                    lon: $('input[name="lat"]').val(),
                    lat: $('input[name="long"]').val(),
                    place: $('#cbo_type option:selected').val(),
                    csrfmiddlewaretoken : $('input[name="csrfmiddlewaretoken"]').val()
                    });
                posting.done(function(){
                      swal("Buen Trabajo!", "¡Posicion Guardada!", "success")
                      $("#modal").modal('hide');
                   });
                posting.fail(function(){
                      swal("):", "¡Algo sucedió mal!", "error")
                   });
                }
             );
        });

    </script>
  </body>
</html>
