
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load staticfiles %}
<html>	
<head>
<title>User Login Flat Responsive widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="User Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<!--web-fonts-->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!--/web-fonts-->
<script>
 $(document).ready(
  function(){

   $('input[type="submit"]').click(function(){
     $.get("/login", 
       {
        username: $("input[name='username']").val(),
        password: $("input[name='password']").val()
        }).done(function(data){
            console.log(data);
           });
      });
     }
 );
</script>
</head>
<body>
<!--User-Login-->
<h1>User Login</h1>
<div class="avtar">
  <img src="{% static 'images/avtar.png' %}">
</div>
	<div class="login-form">
    <form action="/login" method="GET">
    <div class="form-text">
      <input type="text" class="text" name="username" value="USERNAME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'USERNAME';}" >
      <input type="password" value="Password" name="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
    </div>
      <input type="submit" value="GO" >
     </form>
	</div>
<!--/User-Login-->
<!--start-copyright-->
<div class="copy-right">
	<p>Template by <a href="http://w3layouts.com">w3layouts</a></p> 
</div>
<!--//end-copyright-->	
</body>
</html>
